{{>header}}

<h1>{{ title }}</h1>
<p>
    This site is created by USAMA KHAKI. It uses data from mapbox.com for getting location detail and weatherstack for getting weather details.
</p>
<img src="./image/amsi6waf.png?v=1.1" width="250" alt="">

{{>footer}}