{{>header}}

<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea reprehenderit animi quo quibusdam dolores aliquam cum. Vitae itaque veritatis nulla, repellendus optio nisi repudiandae. Iure debitis impedit aut porro?</p>

{{>footer}}