{{>header}}

<h1>{{ title }}</h1>
<p>Use this site to get weather.</p>

<form action="">
    <input type="text" class="form-control" placeholder="Type address here">
    <button class="btn">Submit</button>
</form>

<br>
<p id="message-1"></p>
<p id="message-2"></p>

{{>footer}}