
</div>
<footer>
    <p style="margin: 0;">&copy; 2021 NODE JS Practice, All right reserved.</p>
    <a href="./">Home</a>
    <a href="./about">About</a>
    <a href="./help">Help</a>
</footer>


    <script src="./js/app.js"></script>
</body>
</html>